<table>
  <thead>
    <th>Código</th>
    <th>Number</th>
    <th>Created At</th>
    <th>Expire At</th>
    <th>Amout</th>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies">
      <td>{{policy.id}}</td>
      <td>{{policy.policyNumber}}</td>
      <td>{{policy.creationDate}}</td>
      <td>{{policy.expireDate}}</td>
      <td>{{policy.policyAmount}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(policy.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
